/*custom font*/

    /*shippori*/
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');
    /*montserra*/
.shippori{
    font-family: 'Shippori Mincho', serif;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
.sansSerif {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
.titleFont{
    /* font-family: 'Uchen', serif; */
    font-family: 'Cormorant Infant', serif;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Great+Vibes&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Great+Vibes&family=Montserrat:wght@100&family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Fondamento:ital@1&family=Great+Vibes&family=Montserrat:wght@100&family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Fondamento:ital@1&family=Great+Vibes&family=Montserrat:wght@100&family=Rouge+Script&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@300&display=swap');

/*
font-family: Bilbo Swash Caps, cursive;

font-family: Fondamento, cursive;

font-family: Great Vibes, cursive;

font-family: Montserrat, sans-serif; (100 et 300)

font-family: Rouge Script, cursive;

font-family: Tangerine, cursive;
*/



.manuscrite{
    font-family: 'Cormorant Garamond', serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*variables*/

:root {
    --stripes1: #3f3736;
    --stripes2: #352f24;
    --dark: #12171a;
    --lessdark: #1f1d19;
    --light: white;
    --funkytouch: rgb(184, 180, 127);
}
/* background: radial-gradient(ellipse at center,#192d38 0,#211f2f 100%);  */
/* background-color: #141310; */
.background{
  /* background-color: #141310; */
  /* background-color: #2195cb; */
}
/* .noise{
    background-image: url('noiseFilter.svg');
} */
.navAndFooter{
    background-color: var(--lessdark);
}

.lightText{
    color: var(--light);
}
.darkText{
    color: var(--dark);
}

.pointer{
    cursor: pointer;
}
.width{
  width: 100%;
}


/* common stylies */

.relative{
  position: relative;
}
.absolute{
  position: absolute;
}

body {
  background-color: #141310;
background-image: url("https://www.transparenttextures.com/patterns/subtle-dark-vertical.png");
}

.moreButtonBox{
    width: 100%;
    padding: 5vh 20% 0 0;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.moreButton{
    width: min(100%, 350px);
    padding: 10px 20px;
    background-color: #1a1917;
    border: 0px;
    border-radius: 4px;
    font-size: max(2vh, 12px);
    cursor: pointer;
    text-decoration: none;
}
/* container for section titles */
.titleBox{
    width: 100%;
    padding-left: 10vw;
}

.title{
    font-size: max(3vw, 30px);
    padding-top: 5vh;
    font-weight: 300;
}


.subTitle{
    font-size: max(2vw, 16px);
    
}
.showStats{
    font-size: max(2vh, 12px);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 1vh;
    display: inline-block;
  }
.text{
    font-size: max(1vw, 12px);
    line-height: 150%;
}

/*container for homepage content sections*/
.bigBox{
    width: 100%;
    padding: 10vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*container for content on sub pages - fixe la largeur des pages*/

.cls-1{
    font-size:46.29px;
    font-family:Poppins-ExtraLight, Poppins;
    font-weight:200;
}
.cls-1,.cls-2{
    fill:#e9cc00;
}

/*  Styles pour les pages spectacles     */

.topImgBox{
    width: 100%;
    height: 60vh;
    background-position: center;
    background-position-y: 45%; /* 100vh = 65%*/
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}
  
.showTitleBox{
    width: min(100%, 1000px);
    margin: auto;
}
.showBox{
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.textShow{
  width: min(100%, 1000px);
}
.showImgBox{
  width: 100%;
  padding: 5vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.showImgBox > img{
  width: min(95%, 300px);
  margin: 1vw;
}
.showScore{
  width: 100%;
}
.distribution, .mentions{
  padding: 3vh 0;
}
.distribution, .mentions{
  width: min(100%, 1000px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.jobBox{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1vh 0;
  border-bottom: 1px solid rgb(46, 46, 46);
}
.job1{
  border-top: 1px solid rgb(46, 46, 46);
}
.job{
  width: 30%;
  padding-right: 10px;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.name, .ps{
  width: 70%;
  padding-left: 10px;
  line-height: 150%;
  display: flex;
  align-items: flex-end;
}
.ps{
  font-size: 12px;
  padding-top: 3vh;
}

/* style de l'agenda */

.dateErase{
  position: absolute;
  background-color: rgb(119, 34, 1);
  right: 0;
  top: 0;
  border: 0;
  padding: 2px;

}
.agendaBigBox{
  width: 100%;
  padding: 10vh 2vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.carteDate{
  width: min(1500px, 100%);
  padding: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
  /* color order for stripes: 1 - 2 - 2 - 1 - 1 - 2 - 2 */
  background-image: linear-gradient(45deg, var(--stripes1) 4.55%, var(--stripes2) 4.55%, var(--stripes2) 50%, var(--stripes1) 50%, var(--stripes1) 54.55%, var(--stripes2) 54.55%, var(--stripes2) 100%);
  background-size: 31.11px 31.11px;
  position: relative;
  
}
.dateInfo{
  color: var(--light);
}
.imageAndDate{
  /*width: min(300px, 100%);*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.miniature{
  height: min(80vw, 150px);
}
.when{
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.date{
  font-size: max(14px, 1.5vw);
}
.heure{
  font-size: max(1vw, 14px);
}
.what{
  width: min(300px, 100%);
  display: flex;
  justify-content: flex-start;
  place-items: flex-end;
}
.spectacle{
  font-size: max(14px, 1.5vw);
}

.where{
  width: min(300px, 100%);
  font-size: max(20px, 1.5vw);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.codePostal{
  font-size: max(12px, 1vw);
}
.ville{
  font-size: max(12px, 1vw);
}

.eric{
  border: 1px solid red;
}


 .strokeBox{
   width: min(350px, 50vw);
   position: relative;
   left: -20px;
 }
 .titleStrokeBox{
   display: flex;
   align-items: center;
 }
 .shadow{
   box-shadow: 1px 1px 10px rgb(0, 0, 0);
 }
 .link{
  text-decoration: none;
 }
